	<body class="smoothscroll enable-animation menu-vertical">

		<!-- wrapper -->
		<div id="wrapper">

			<!-- SIDE MENU -->
			<div id="mainMenu" class="navbar-toggleable-md sidebar-vertical sidebar-dark">

				<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">


						<a href="/" class="logo text-center mb-0 mt-0 pt-15 pb-15 w-100p">
							<!-- .logo-xs-half = resize logo on mobile (remove if logo is already small) -->
							<%= image_tag "profile.png", class: "logo-xs-half", alt: "" %>
						</a>

				<!-- Paragraph -->
					<div class="container">
						<p class="text-center mx-auto hidden-sm-down">
							paultrindinh@icloud.com<br />
							(+33) 7 83 22 79 30
						</p>
					</div>
				
				<!-- /Paragraph -->						

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div class="navbar-collapse sidebar-navbar-collapse collapse w-100p">

							<!-- MENU -->
							<ul class="nav navbar-nav nav-onepage">
								<li class="active">
									<a href="#about">
										About
									</a>
								</li>
								<li>
									<a href="#skill">
										Skills
									</a>
								</li>
								<li>
									<a href="#experience">
										Experience & Education
									</a>
								</li>
								<li>
									<a href="#my-portfolio">
										Portfolio
									</a>
								</li>
							</ul>
							<!-- /MENU -->

						</div><!--/.nav-collapse -->

					</div>
				</div>


				<!-- Social Icons -->
				<div class="social-icons hidden-md hidden-sm-down text-center">
					<a href="https://www.linkedin.com/in/paul-trin-dinh-508537b9/" target="_blank" class="social-icon social-icon-sm social-icon-light social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
					<a href="https://github.com/askprod" target="_blank" class="social-icon social-icon-sm social-icon-light social" data-toggle="tooltip" data-placement="top" title="Github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>
					<a href="https://soundcloud.com/askprod" target="_blank" class="social-icon social-icon-sm social-icon-light social-soundcloud" data-toggle="tooltip" data-placement="top" title="Soundcloud">
						<i class="icon-soundcloud"></i>
						<i class="icon-soundcloud"></i>
					</a>
				</div>

				<p class="text-center mx-auto">
					<%= link_to "English CV", ("assets/documents/englishcv.pdf"), target: "_blank" %>
					<br>
					<%= link_to "French CV", ("assets/documents/francaiscv.pdf"), target: "_blank" %>
				</p>

				<!-- /Social Icons -->

			</div>
			<!-- /SIDE MENU -->

			<!-- ABOUT -->
				<div class="container" id="about">

					<div class="row">
						<div class="col-sm-10 offset-sm-1">

							<div class="row">

								<div class="" style="margin: 30px;">
									
									<header>
										<h2 class="fs-25"><span>About Me</span></h2>									
										<h1 class="fs-30"><span>PAUL TRIN-DINH</span></h1>
										<p class="fw-300">WEB DEVELOPER, AUDIO DESIGNER</p>
									</header>

									<p>&bull; I aspire to become part of projects which deploy technology with the aim of solving real-life problems.</p>
									<p>&bull; I have strong analytical skills and relish engaging with complex ideas and concepts. </p>
									<p>&bull; My curiosity and self-motivation have led to my involvement in a variety of creative projects using different mediums.</p>
									<p>&bull; I am naturally an independent learner. I have gained many skills by throwing myself into projects and learning by doing. This has required sound problem-solving skills as well as confidence and creativity.</p>
									<p>&bull; I am an open yet assertive person. I like engaging in discussion and debate with others to find the best solutions. </p>

								</div>


								<div class="col-lg-6 order-lg-1">

									<!-- 
										controlls-over		= navigation buttons over the image 
										buttons-autohide 	= navigation buttons visible on mouse hover only
										
										data-plugin-options:
											"singleItem": true
											"autoPlay": true (or ms. eg: 4000)
											"navigation": true
											"pagination": true
											"transitionStyle":"fadeUp" (fade,backSlide,goDown,fadeUp)
									-->

								</div>


							</div>

						</div>
					</div>

				</div>

			<!-- /ABOUT -->
	
			<!-- SKILLS -->
			<section id="skill" class="parallax parallax-auto b-0" style="background: url('https://imageshack.com/a/img922/2999/8vfiIR.jpg');">

				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">

							<h2 class="fw-600 mt-30 mb-3 wow fadeIn" data-wow-delay="0.5s">SKILLS</h2>

						</div>

					</div>
				</div>

				<span class="raster overlay dark-3 z-index-0"><!-- dark|light overlay [0 to 9 opacity] --></span>
			</section>

			<section class="section-xs">

				<div class="container">

					<div class="row">

						<div class="col-md-4 col-6 mb-30 text-center">
							<!-- Icon -->
							<div class="piechart" data-color="#337AB7" data-trackcolor="rgba(0,0,0,0.04)" data-size="125" data-percent="75" data-width="2" data-animate="3000">
								<I><%= image_tag "ruby.png", class: "fa" %></i>
							</div>
							<p>Object Oriented Programming<br>Web Frameworks<br>Database Management</p>
						</div>

						<div class="col-md-4 col-6 mb-30 text-center">
							<!-- Icon -->
							<div class="piechart" data-color="#337AB7" data-trackcolor="rgba(0,0,0,0.04)" data-size="125" data-percent="85" data-width="2" data-animate="3000">
								<I><%= image_tag "html.png", class: "fa" %></i>
							</div>
							<p>HTML CSS JavaScript<br>Bootstrap<br>jQuery</p>
						</div>

						<div class="col-md-4 col-6 mb-30 text-center">
							<!-- Icon -->
							<div class="piechart" data-color="#337AB7" data-trackcolor="rgba(0,0,0,0.04)" data-size="125" data-percent="95" data-width="2" data-animate="3000">
								<I><%= image_tag "audio.png", class: "fa" %></i>
							</div>
							<p>Sound Design<br>Music Composing<br>Audio Processing<br>ProTools</p>
						</div>

						<div class="col-md-4 col-6 mb-30 text-center">
							<!-- Icon -->
							<div class="piechart" data-color="#337AB7" data-trackcolor="rgba(0,0,0,0.04)" data-size="130" data-percent="95" data-width="2" data-animate="3000">
								<I><%= image_tag "comm.png", class: "fa" %></i>
							</div>
							<p>Communication<br>Teamwork<br>Problem Solving</p>
						</div>

						<div class="col-md-4 col-6 mb-30 text-center">
							<!-- Icon -->
							<div class="piechart" data-color="#337AB7" data-trackcolor="rgba(0,0,0,0.04)" data-size="125" data-percent="70" data-width="2" data-animate="3000">
								<I><%= image_tag "time.png", class: "fa" %></i>
							</div>
							<p>Time Management<br>Working Under Pressure</p>
						</div>

						<div class="col-md-4 col-6 mb-30 text-center">
							<!-- Icon -->
							<div class="piechart" data-color="#337AB7" data-trackcolor="rgba(0,0,0,0.04)" data-size="125" data-percent="90" data-width="2" data-animate="3000">
								<I><%= image_tag "adapt.png", class: "fa" %></i>
							</div>
							<p>Adaptability<br>Willingness to Learn<br>New Technologies</p>
						</div>

					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>

			</section>
			
			<!-- EXPERIENCE -->
			<section id="experience" class="parallax parallax-auto b-0" style="background: url('https://imageshack.com/a/img921/9417/XrIloZ.jpg')">


				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">

							<h2 class="fw-600 mt-30 mb-3 wow fadeIn" data-wow-delay="0.5s">EXPERIENCE</h2>

						</div>

					</div>
				</div>

				<span class="raster overlay dark-3 z-index-0"><!-- dark|light overlay [0 to 9 opacity] --></span>
			</section>

			<section class="section-xs">
				<div class="container">


					<div class="row">
						<div class="col-sm-10 offset-sm-1">

							<div class="timeline"><!-- .timeline-inverse = right position -->

									<!-- ITEM -->
									<div class="timeline-item timeline-item-bordered">
										
										<!-- timeline entry -->
										<div class="timeline-entry rounded"><!-- .rounded = entry -->
											3<span>MONTHS</span>
											<div class="timeline-vline"><!-- vertical line --></div>
										</div>
										<!-- /timeline entry -->

										<h2 class="fs-20 mb-0"><span>The Hacking Project</span></h2>
										<time class="block mb-20 fs-13" datetime="2017-06-02">Sept. to Dec. 2018</time>

										<p>The Hacking Project is a bootcamp program over 3 months, that teaches it's student web development. We go through HTML/CSS, Javascript, Ruby, Ruby on Rails, SQL and other frameworks in a peer-to-peer learning environment.</p>

										<a href="https://www.thehackingproject.org/" class="fs-14">Website</a>
									</div>
									<!-- /ITEM -->

									<!-- ITEM -->
									<div class="timeline-item timeline-item-bordered">
										
										<!-- timeline entry -->
										<div class="timeline-entry rounded"><!-- .rounded = entry -->
											6<span>YEARS</span>
											<div class="timeline-vline"><!-- vertical line --></div>
										</div>
										<!-- /timeline entry -->
										
										<h2 class="fs-20 mb-0"><span>Audio Freelance</span></h2>
										<time class="block mb-20 fs-13" datetime="2017-06-02">Since 2011</time>

										<p>- Personal music project "Ask Music", composing, recording of instruments, mixing and mastering for many unique tracks, including the release of an EP, the release of a song on a English label, the featuring of a song on a main YouTube channel with millions of views, live sets in local concert rooms. 
										<br>- Audio recording, music composing, sound design, and video synchronisation for many audio-visual projects, music clips, short films, advertisement and a mobile video game using Wwise. 
										<br>- Mixing and mastering for several artists and labels around the globe.</p>

									</div>
									<!-- /ITEM -->

									<!-- ITEM -->
									<div class="timeline-item timeline-item-bordered">
										
										<!-- timeline entry -->
										<div class="timeline-entry rounded"><!-- .rounded = entry -->
											1<span>YEAR</span>
											<div class="timeline-vline"><!-- vertical line --></div>
										</div>
										<!-- /timeline entry -->
										
										<h2 class="fs-20 mb-0"><span>Recording Arts Canada</span></h2>
										<time class="block mb-20 fs-13" datetime="2017-06-02">From 2012 to 2013</time>

									<p>The objectives and contents of the Sound & Music Recording program revolve around developing solid skills in digital sound production, music recording, computer-assisted sound design, electro-acoustics, MIDI, music for film and television, post-audio, and surround sound mixing and recording.</p>
									<a href="https://recordingarts.com/" class="fs-14">Website</a>
									</div>
									<!-- /ITEM -->

							</div>

						</div>
					</div>


				</div>
			</section>

			<!-- PORTFOLIO -->
			<section id="my-portfolio" class="parallax parallax-auto b-0" style="background: url('https://imageshack.com/a/img924/2028/TcxObT.jpg');">


				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">

							<h2 class="fw-600 mt-30 mb-3 wow fadeIn" data-wow-delay="0.5s">PORTFOLIO</h2>

						</div>

					</div>
				</div>




				<span class="raster overlay dark-3 z-index-0"><!-- dark|light overlay [0 to 9 opacity] --></span>
			</section>

<section class="pt-30 pb-30 b-0">
				<div class="container text-center">

					<ul class="nav nav-tabs nav-bottom-border inline-block mb-0">
						<li class="nav-item">
							<a class="active" href="#web" data-toggle="tab">WEB</a>
						</li>
						<li class="nav-item">
							<a href="#music" data-toggle="tab">MUSIC</a>
						</li>
						<li class="nav-item">
							<a href="#photography" data-toggle="tab">PHOTOGRAPHY</a>
						</li>
						<li class="nav-item">
							<a href="#others" data-toggle="tab">OTHER MEDIA</a>
						</li>
					</ul>

				</div>
			</section>



			<section class="section-xs">
				<div class="container">

					<div class="tab-content">
						

						<!-- WEB -->
						<div class="tab-pane active" id="web">

							<div class="row">

							<div>

							<!-- THREE COLUMNS -->
							<div class="row" style="margin: 30px">

								<div class="col-md-4">

									<!-- article item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="https://sehra.herokuapp.com/" target="_blank">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>GO TO WEBSITE</strong> 
												</span>
											</a>
											<%= image_tag "sehra.png", class: "img-fluid", width: "263", height: "147" %>
										</figure>
										<div class="item-box-desc">
											<h4>Sehra</h4>
											<small>Voting System for Events</small>
											<p>Personnal project to rehabilitate abandonned areas in France throughout a voting system.</p>
										</div>
									</div>
									<!-- /article item -->

								</div>


								<div class="col-md-4">

									<!-- article item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="https://catsforsale.herokuapp.com/" target="_blank">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>GO TO WEBSITE</strong>
												</span>
											</a>
											<%= image_tag "cats.png", class: "img-fluid", width: "263", height: "147" %>
										</figure>
										<div class="item-box-desc">
											<h4>Test Online Shop</h4>
											<small>Buy Cat Images</small>
											<p>Test website with working carts, paiement systems, admin page and user accounts.</p>
										</div>
									</div>
									<!-- /article item -->

								</div>

								<div class="col-md-4">

									<!-- article item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="https://starwarsmailer.herokuapp.com/" target="_blank">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>GO TO WEBSITE</strong>
												</span>
											</a>
											<%= image_tag "starwars.png", class: "img-fluid", width: "263", height: "147" %>
										</figure>
										<div class="item-box-desc">
											<h4>Star Wars Mailer</h4>
											<small>AJAX Exercise</small>
											<p>One page website to get familiar with AJAX in a Ruby on Rails environment.</p>
										</div>
									</div>
									<!-- /article item -->

								</div>

								<!-- /article item -->
							</div>
							<!-- /THREE COLUMNS -->
								</div>

							</div>

						</div>


						<!-- MUSIC -->
						<div class="tab-pane" id="music">

							<div class="row" style="margin: 30px">
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/78684046&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/69562001&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>
							</div>

							<div class="row" style="margin: 30px">
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/117487958&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/481204353&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>
							</div>

							<div class="row" style="margin: 30px">
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/284422973&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>

								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/283198547&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>								
							</div>

						</div>


						<!-- PHOTO -->
						<div class="tab-pane" id="photography">

							<div style="text-align:center; font-size:30pt; margin-bottom: 100px;">
							<p style="font-size:15pt; margin-bottom: 0;">You can also check out my</p>
							<%= link_to "100 Strangers Photography Project", strangers_index_path %>
							</div>

							<div class="masonry-gallery columns-6 clearfix lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<a class="image-hover" href="https://imageshack.com/a/img923/3165/L8Uhou.jpg">
									<%= image_tag "photo1-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img921/6025/6GbvyL.jpg">
									<%= image_tag "photo2-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img921/1797/nA94xs.jpg">
									<%= image_tag "photo3-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img922/451/rbYUrQ.jpg">
									<%= image_tag "photo4-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img922/7431/xkh9cP.jpg">
									<%= image_tag "photo5-big.jpg" %>
								</a>																
								<a class="image-hover" href="https://imageshack.com/a/img924/4125/gEoTaZ.jpg">
									<%= image_tag "photo6-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img924/5011/ngaK6B.jpg">
									<%= image_tag "photo7-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img921/7392/iQLpIy.jpg">
									<%= image_tag "photo8-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img923/8977/QL6caG.jpg">
									<%= image_tag "photo9-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img921/2734/06kgNl.jpg">
									<%= image_tag "photo10-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img922/2482/Tu7rne.jpg">
									<%= image_tag "photo11-big.jpg" %>
								</a>
								<a class="image-hover" href="https://imageshack.com/a/img921/8185/rqQtC7.jpg">
									<%= image_tag "photo12-big.jpg" %>
								</a>																																				
							</div>

						</div>

						<!-- OTHERS -->
						<div class="tab-pane" id="others">

							<div class="row">

							<div>

							<!-- THREE COLUMNS -->
							<div class="row" style="margin: 30px">

								<div class="col-md">

									<!-- article item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="https://www.youtube.com/watch?v=mQfHXLghqVc" target="_blank">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>WATCH</strong> 
												</span>
											</a>
											<%= image_tag "charly.png", class: "img-fluid", width: "263", height: "147" %>
										</figure>
										<div class="item-box-desc">
											<h4>My Uncle Charly</h4>
											<small>Foley and ambiant recording. Audio mixing, editing and mastering on set for a music video.</small>
											<p></p>
										</div>
									</div>
									<!-- /article item -->

								</div>


								<div class="col-md">

									<!-- article item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="https://www.youtube.com/watch?v=HaOvHB7wc04&feature=youtu.be" target="_blank">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>WATCH</strong>
												</span>
											</a>
											<%= image_tag "darknoir.png", class: "img-fluid", width: "263", height: "147" %>
										</figure>
										<div class="item-box-desc">
											<h4>Dark Noir</h4>
											<small>Full recording including voice & foley, editing & SFX, mixing and synchronisation for a short film.</small>
											<p></p>
										</div>
									</div>
									<!-- /article item -->
								</div>

								<div class="col-md">

									<!-- article item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="https://www.youtube.com/watch?v=xJLbvt0sw4A" target="_blank">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>WATCH</strong>
												</span>
											</a>
											<%= image_tag "fractal.png", class: "img-fluid", width: "263", height: "147" %>
										</figure>
										<div class="item-box-desc">
											<h4>Fractal Space</h4>
											<small>Audio synchronisation using Wwise, voice dubbing, and music production for a video game.</small>
											<p></p>
										</div>
									</div>
									<!-- /article item -->

								</div>

								<div class="col-md">

									<!-- article item -->
									<div class="item-box">
										<figure>
											<a class="item-hover" href="https://www.youtube.com/watch?v=_d9RLeELtZw" target="_blank">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-plus fsize20"></span>
													<strong>WATCH</strong>
												</span>
											</a>
											<%= image_tag "skate.png", class: "img-fluid", width: "263", height: "147" %>
										</figure>
										<div class="item-box-desc">
											<h4>Merci le skate!</h4>
											<small>Self-produced french short film about my personnal experience with skateboarding.</small>
											<p></p>
										</div>
									</div>
									<!-- /article item -->
								</div>

							</div>
							
							

							</div>

						</div>

					</div>

				</div>
			</section>

			<!-- FOOTER -->
			<footer id="footer" class="fs-13">
				<div class="container">
					&copy; All Rights Reserved - Paul Trin-Dinh
				</div>
			</footer>
			<!-- /FOOTER -->


		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'plugins/';</script>
		<%= javascript_include_tag "bootstrap/js/bootstrap.min.js" %>
		<%= javascript_include_tag "jquery/jquery-3.3.1.min.js" %>
		<%= javascript_include_tag "scripts.js" %>
		
	</body>
</html>