<!DOCTYPE html>
<html>
  <head>

		<meta charset="utf-8" />
		<title>Paul Trin-Dinh</title>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<%=  stylesheet_link_tag "bootstrap/css/bootstrap.min.css" %> 

		<!-- SWIPER SLIDER -->
		<%=  stylesheet_link_tag "slider.swiper/dist/css/swiper.min.css" %> 

		<!-- THEME CSS -->
		<%=  stylesheet_link_tag "essentials.css" %> 
		<%=  stylesheet_link_tag "layout.css" %> 

		<!-- PAGE LEVEL SCRIPTS -->
		<%=  stylesheet_link_tag "header-1.css" %> 
		<%=  stylesheet_link_tag "color_scheme/brown.css" %> 
		<%=  stylesheet_link_tag "pack-caffe.css" %> 
		<%=  stylesheet_link_tag "custom-forms-v2.css" %> 

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136843771-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-136843771-1');
			</script>

		<script> var http = require("http");
			setInterval(function() {
    		http.get("http://www.paultrindinh.herokuapp.com");
		}, 300000); // Pings app every 5 minutes </script>

  </head>

  <body>
    <%= yield %>
  </body>
	
</html>
